<% include ../head.ejs %>
      <title><%=data.title%></title>
      <link rel='stylesheet' href='/stylesheets/single/single.css' />

    </head>
    <body>
        <% if (logStatus) {%>
          <% include ../myInfo.ejs %> 
        <% } %> 
        <div class="header"><i class="iconfont goBack">&#xe61d;</i><a><span class="others">别人</span><span class="home-word">家</span></a>
        	<span class="login-area">
                <% if(!logStatus) {%>
                    <i class="iconfont login-img unlogged">&#xe632;</i>  
                <% }else{%>
                    <i class="iconfont login-img logged">&#xe605;</i>  
                <%}%>      
              <span class="split-img"></span>
        	</span>
        </div>
        <div class="cover-part">
          <img src="/resource/<%=data._id.toString()%>/cover.jpg">
          <div class="info-tabs">
              <span class="house-title"><%=data.title%></span>
              <a href="/pano"><i class="iconfont play-icon">&#xe604;</i></a>
              <ul class="info-tabs__tabs">
                <li class="info-tabs__tab tab--active"><a href="javascript:void(0);" data-href="#host-info">主人信息</a></li>
                <li class="info-tabs__tab"><a  href="javascript:void(0);" data-href="#house-info">房屋信息</a></li>
                <li class="info-tabs__tab"><a href="javascript:void(0);" data-href="#comments">评论</a></li>
              </ul>
          </div>             
        </div>
        <div class="info__full">

          <p class="portrait-name"><img class="info__portrait" src="/resource/<%=data._id%>/portrait.jpg">
              <span><%=data.title %></span>
              <div class="like-collect">              
                <% if (logStatus) { %>
                  <% if (data.isLike) { %>
                    <span class="like-icon do-like" data-id=<%=data._id%>></span>
                  <% } else { %>
                  <span class="like-icon donot-like" data-id=<%=data._id%>></span>
                  <% } %>
                    
                <% } else { %>
                  <span class="like-icon donot-like" data-id=<%=data._id%>></span>
                <% } %>
                <span class="like-count"><%= data.likes %></span>
              </div>
          </p>

          <h2 class="info__title anchor-point" id="host-info">主人信息</h2>
          <hr class="seperator">
            <% data.hosts.forEach(function(item) { %>
            <div>            
              <div class="info__field--key">
                <p>姓名</p>
                <p>年龄</p>
                <p>职业</p>
              </div>
              <div class="info__field--value">
                <p><%=item.hostName%></p>
                <p><%=item.hostAge%></p>
                <p><%=item.hostJob%></p>
              </div>
            </div>
            <%  })%>       
            <h2 class="info__title anchor-point" id="house-info">房屋信息</h2>
            <hr class="seperator">
            <div class="info__field--key">
              <p>房屋位置</p>
              <p>户型</p>
              <p>面积</p>
              <p>装修时间</p>
              <p>装修费用</p>
              <p>装修耗时</p>
              <p>感悟</p>
            </div>
            <div class="info__field--value">
              <p><%=data.province%>&nbsp;<%=data.county%></p>
              <p><%=data.type%></p>
              <p><%=data.area%>㎡</p>
              <p><%=data.dec_time%></p>
              <p><%=data.dec_cost%>万</p>
              <p><%=data.dec_period%>个月</p>
              <p><%=data.dec_experience%></p>
            </div>
              
            <h2 class="info__title anchor-point" id="comments">评论</h2>
            <hr class="seperator">
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <hr class="seperator">
        </div>   
        <script type="text/javascript">
          var logStatus = <%=logStatus%>;
        </script>
        <script type="text/javascript" src="/javascripts/js/single/single.js"></script>
    </body>
</html>
    
