<% include ../head.ejs %>
      <title>我的收藏</title>
      <link rel='stylesheet' href='/stylesheets/login/myCollect.css' />
      <script type="text/javascript" src="/javascripts/js/login/myCollect.js"></script>
    </head>
    <body>  

        <div class="header">
        	<a href="javascript:history.back(-1);" style="text-decoration: none;">
        		<i class="iconfont goBack">&#xe61d;</i>
        	</a><span class="my-text">我的</span><span class="collect-text">收藏</span>        	
        </div> 
		<div class="content">
		        <% if(list) { %>
		        <ul>
		            <% list.forEach(function(item) { %>
		                <li  class="fy-item" data-id=<%=item._id.toString()%>>
		                    <div class="fy-item-cover">
		                        <img src="/resource/<%=item._id.toString()%>/cover.jpg" class="fy-item-img">
		                    </div>                
		                    <div class="fy-item-info clearfix">
		                        <img class="fy-item-portrait" src="/resource/<%=item._id.toString()%>/portrait.jpg">                                       
		                        <div class="fy-item-textinfo">
		                            <p class="fy-item-name"><%=item.title%></p>
		                            <p class="fy-item-detail"><i class="iconfont info-icon">&#xe602;</i><span><%=item.type%></span><i class="iconfont info-icon">&#xe682;</i><span>装修<%=item.dec_cost%>万</span><i class="iconfont info-icon">&#xe635;</i><span><%=item.province%> <%=item.county%></span></p>                           
		                        </div>
		                    </div>  
		                </li>
		            <% }) %>
		        </ul>
		        <% } %>
		      </div>
        
    </body>
</html>